* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial;
}

.container {
  display: grid;
  grid-template: 1fr 5fr / 1fr 5fr;
  height: 100vh;
}

.header {
  grid-column: 2;
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  background-color: white;
}

.content {
  grid-column: 2;
  grid-row: 2;
  background-color: aquamarine;
  display: grid;
  grid-template: 1fr / 3fr 1fr;
  background-color: #E2E8F0;
  padding-top: 25px;
}

.projects > div {
  background-color: white;
  margin-left: 25px;
  margin-bottom: 25px;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 1px 1px 10px 1px rgb(177, 177, 177);
}

.content > .projects {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  font-weight: 700;
  font-size: 2rem;
}

.news {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.news > div {
  background-color: white;
  margin: 0px 25px 25px 25px;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 1px 1px 10px 1px rgb(177, 177, 177);
}

.sidebar {
  grid-row: 1 / 3;
  background-color: #3babe7;
  color: white;
  font-weight: 700;
}

.header > div:nth-child(2n+1) {
  place-self: center start;
}

.header > div:nth-child(2n+2) {
  place-self: center end;
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;
}

.sidebar div:first-of-type {
  align-self: center;
  padding-left: 15px;
  height: 100%;
  width: 100%;
  font-size: 1.7rem;
}

.sidebar div:first-of-type:before {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  content: '';
  top: 25px;
  margin-right: 10px;
  background: url(./images/logo.png);
}

.sidebar li {
  padding-left: 35px;
  padding-bottom: 20px;
  font-size: 1.5rem;
}

ul li:before {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  content: '';
  top: 3px;
  margin-right: 10px;
}

li.home:before {
  background: url(./images/home.png);
}

li.profile:before {
  background: url(./images/profile.png);
}

li.messages:before {
  background: url(./images/messages.png);
}

li.history:before {
  background: url(./images/history.png);
}

li.tasks:before {
  background: url(./images/tasks.png);
}

li.communities:before {
  background: url(./images/communities.png);
}

li.settings:before {
  background: url(./images/settings.png);
}

li.support:before {
  background: url(./images/support.png);
}

li.privacy:before {
  background: url(./images/privacy.png);
}